.main-form {
    background-color: rgb(149, 147, 147);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.login-form {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #fff;
    width: 350px;
    height: 280px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 190px;
    position: absolute;
}
.login-form .input1 {
    width: 300px;
    padding: 10px;
    margin: 10px;
}

h1 {
    text-align: center;
    color: #fff;
}
